@use "../../app/styles/index.scss" as *;

.footer {

  background-color: $background-color-graylight;
  
    .footer__container {
      max-width: $max-width-desktop;
      display: flex;
      margin: 0 auto ;
      flex-direction: column;
      padding: 96px 0;
      gap: 32px;
      max-width: $max-width-desktop;
    }
  
    .footer__upinfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .footer__logoNeo {
      margin: 0;
    }
  
    .footer__contacts {
      display: flex;
      flex-direction: column;
      gap: 6px;
  
    }
  
    .footer__phone {
      font-weight: 700;
      font-size: $font-size-l;
      line-height: $line-height-150;
    }
  
    .footer__email {
      color: $text-color-gray-light;
    }

  
      .footer__links{
        display: flex;
        width: 100%;
        font-weight: 500;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 32px;
        row-gap: 8px;
    }

    
    .footer__link {
        color: inherit;

            
    
        &:is(:focus, :hover, &--active) {
          color: $text-color-active;
        }
      }
  
    .footer__linear {
      margin: 20px 0;
      border: 2px solid white;
    }
  
    .footer__textcookie {
      margin-bottom: 0;
      color: $text-color-gray-dark;
    }
  
    @media screen and (max-width: $max-width-mobile) {
      .Footer {
        max-width:$max-width-mobile;  
        justify-content: center;
        margin: 0 auto;
        width: 100%;
      }
      
      &__upinfo {
          flex-direction: column;
        }
    
        &__contacts {
          text-align: center;
        }
    
        &__links{
    
          flex-direction: column;
          align-items: center;
        }
    }
  }