// Colors

$background-color-white: #ffffff;
$background-color-bluelight: #F5F4FF;
$background-color-graylight: #F4F4F4;

$text-color-black: #000000;
$text-color-white: #fff;

$text-color-gray-light: #4F5665;
$text-color-gray-dark: #1C1C1C;

$text-color-active: #ea2cca;

$button-color-blue: #003CFF;


// Fonts
$font-family-main: "Ubuntu", "Times New Roman", Serif;;
$font-family-secondary: "Rubik", "Times New Roman", Serif;;

// Font size
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 30px;



// Line heights
$line-height-110: 110%;
$line-height-120: 120%;
$line-height-150: 150%;
$line-height-170: 170%;
$line-height-190: 190%;
$line-height-300: 300%;

// Media 
$max-width-desktop: 1300px;
$max-width-tablet: 920px;
$max-width-mobile: 500px;