@use "../../app/styles/index.scss" as *;

.Input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    border: 2px solid rgba(#808080, 0.2);
    border-radius: 6px;
    background-color: #F9F5E3;

    &--error {
      outline: 2px solid #FF5631;
    }

    &:focus-within {
      outline: 2px solid $border-color-purple;
    }
  }

  &__input {
    flex: 1;
    width: 100%;
    padding: 13px 0 13px 16px;
    font-size: 14px;
    border: 0;
    background-color: inherit;
    line-height: 1;

    &:focus {
      outline: none;
    }

    /* Autofill styles */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #F9F5E3 inset !important;
      -webkit-text-fill-color: #000 !important;
      border: 0 !important;
      background-color: #F9F5E3 !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-top: 6px;
  }

  &__field {
    flex: 1;
    padding: 13px 16px;
    font-size: 14px;
    border: 0;
    background-color: inherit;

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: #FF5631;
  }
}
