@use "../../app/styles/index.scss" as *;

.CurrencyExchange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
  border-radius: 32px;
  box-shadow: 0 3px 5px rgba(187, 187, 187, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 0.85) 30%,
    rgba(178, 178, 178, 0.85) 100%
  );

  color: $text-color-black;
  font-size: $font-size-m;
  font-weight: 500;

  &__content-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    font-size: $font-size-l;
    color: $text-color-gray-dark;
    line-height: 50px;
  }

  &__desc{
    font-size: $font-size-m;
    line-height: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__ratesListContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__btn {
    width: fit-content;
    border: 0;
    padding: 0;
    background-color: inherit;
    margin-top: 15px;
    color: $text-color-white;

    font-family: inherit;
    font-size: $font-size-m;
    line-height: 112%;

    &:hover {
      background-color: inherit;
    }
  }

  &__content-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    font-size: $font-size-s;

    
  
  }
  &__imgWrapper{
   margin-bottom: 60px;
  }

 
  @media (max-width: $max-width-tablet) {
    &__listContainer {
      justify-content: center;
    }
  }
}
