@use "../../app/styles/index.scss" as *;

.Header{
    background-color: $background-color-white;

.navbar__container {
    max-width: $max-width-desktop;
    display: flex;
    margin: auto ;
    max-width: $max-width-desktop;
    min-height: 64px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.navbar__links{
    display: flex;
    gap: 40px;
}

.navbar__link-logotext{
    color: #B4387A;
}

.navbar__link {
    color: inherit;
    padding: 10px;
    text-decoration: none;

    &:is(:focus, :hover, &--active) {
      color: $text-color-active;
    }
  }
}