@use "../../app/styles/index.scss" as *;

.Divider {
  display: flex;

  &__line {
    width: 100%;
    height: 1px;
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgba(#808080, 0.2);
  }
}