@use "../../app/styles/index.scss" as *;
.ScoringPage {
    padding: 20px 0 60px;

}


.PaymentDecision {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    gap: 30px;


    &__title {
        text-align: center;
        margin: 0;
        font-size: $font-size-l;
    }

    &__text {
        font-size: $font-size-s;
    }
}